 /*import (
       {{range $index, $element := .}}"{{$element.PkgPath}}"
        {{end}})*/
{{range $index, $element := .}}
{{range $index, $result := $element.Structs}}
//this is a method that {{$result.StructName}} converts to map
func (i {{$result.StructName}}) {{$result.StructName}}ToMap() map[string]interface{} {
	var data = make(map[string]interface{})
	{{range $index, $element :=$result.FieldNames}}data["{{$element}}"] = i.{{$element}}
	{{end}}
	return data
}{{end}}{{end}}