// Scry Info.  All rights reserved.
// license that can be found in the license file.
package main
import (
    "log"
    "os"
    "encoding/json"
    "github.com/scryinfo/dot/dot"
    {{range $index, $element := .}}{{$element.Alias}} "{{$element.ImportDir}}"
    {{end}}
)
func main()  {
    var reult = make([]*dot.TypeLives, 0)
	{{range $index, $element := .}}{{range $index, $func := $element.Funcs}}
	{{if $func.IsSlice}}reult = append(reult,{{$element.Alias}}.{{$func.FuncName}}()...){{else}}reult = append(reult,{{$element.Alias}}.{{$func.FuncName}}()){{end}}{{end}}
	{{end}}
	_, _ = json.Marshal(reult)
    //fmt.Printf("JSON format: %s", js)
    // using an encoder:
    file, _ := os.OpenFile("result.json", os.O_CREATE|os.O_WRONLY|os.O_TRUNC, 0)
    defer file.Close()
    enc := json.NewEncoder(file)
    err := enc.Encode(reult)
    if err != nil {
    	log.Println("Error in encoding json")
    }
}
